<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <!-- <button ion-button full (click)="Vibrate()">Vibrate</button>
    <button ion-button full (click)="newPokemon()">New Pokemon</button>
    <button ion-button full (click)="foundPokemon('bulbasaur')">Share</button>
    <button ion-button full (click)="calculateDistance()">Distance</button> -->

  <ion-list>
    <ion-item>
        <h1>My Position</h1>
        <h2>latitude: {{latitude}}</h2>
        <h2>longitude: {{longitude}}</h2>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="closestPokemon">
      <h1>Distance to closest pokemon</h1>
      <h2>{{distance}}</h2>
      <h2>{{closestPokemon.data.name}}</h2>
      <b>{{catchMessage}}</b>
      <div *ngIf="canCatch">
        <button ion-button full (click)="catch()">Catch {{closestPokemon.name}}</button>
      </div>
  </ion-item>

  <ion-list-header *ngIf="pokemonOnLocations">Pokemon</ion-list-header>
  <ion-list>
    <loader *ngIf="!pokemonOnLocations"></loader>
    <ion-item *ngFor="let p of pokemonOnLocations">
      <img [src]="p.data.sprites.front_default" onError="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png';"/>
      <h2>{{p.id}}</h2>
      <b>{{p.data.name}}</b>
      <h2>{{p.latitude}}</h2>
      <h2>{{p.longitude}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
