<!-- Generated template for the PokemonListComponent component -->
<!-- <ion-list>
    <ion-item-divider>
        Pokemon
      </ion-item-divider>
  <ion-item *ngFor="let p of pokemon" (click)="ShowPokemon(p.name)">
    <img *ngIf="p.sprites" src="{{p.sprites.front_default}}"/>
    <div>{{ p.name | capitalize }}</div>
  </ion-item>
</ion-list> -->

<div class = "row responsive-sm">
  <ion-item-divider>
      Pokemon
    </ion-item-divider>
<div class="col pokemon-thumbnail" [ngClass]="{'caught': IsCaught(p.name)}" *ngFor="let p of pokemon" (click)="ShowPokemon(p.name)">
  <img *ngIf="p.sprites" [src]="p.sprites.front_default"
  onError="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png';" width="96" height="96"/>
  <div>{{ p.name | capitalize }}</div>
  <div *ngIf="p.amount">( {{p.amount}} )</div>
</div>
</div>
