pokemon-list {
    img {
        max-width: 100px;
        border: 0;
    }

    .name {
        display: block;
        font-size: 1em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        margin-left: 0.83em;
        margin-right: 0;
        font-weight: normal;
    }

    .col{
        border: 1px;
        border-style: ridge;
        border-top-color: rgb(204, 204, 204) !important;
    }

    .pokemon-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caught {
        background: #26c740;
    }
}
