page-pokemon-detail {
    $type-normal: #A8A878;
    $type-fire: #F08030;
    $type-fighting: #C03028;
    $type-water: #6890F0;
    $type-flying: #A890F0;
    $type-grass: #78C850;
    $type-poison: #A040A0;
    $type-electric: #F8D030;
    $type-ground: #E0C068;
    $type-psychic: #F85888;
    $type-rock: #B8A038;
    $type-ice: #98D8D8;
    $type-bug: #A8B820;
    $type-dragon: #7038F8;
    $type-ghost: #705898;
    $type-dark: #705848;
    $type-steel: #B8B8D0;
    $type-fairy: #EE99AC;

    .detail{
        align-content: center;
        text-align: center;

        div{
            outline: 1px solid black;
        }
    }

    .type-normal {
        background: $type-normal;
    }
    .type-fire {
        background: $type-fire;
    }
    .type-fighting {
        background: $type-fighting;
    }
    .type-water {
        background: $type-water;
    }
    .type-flying {
        background: $type-flying;
    }
    .type-grass {
        background: $type-grass;
    }
    .type-poison {
        background: $type-poison;
    }
    .type-electric {
        background: $type-electric;
    }
    .type-ground {
        background: $type-ground;
    }
    .type-psychic {
        background: $type-psychic;
    }
    .type-rock {
        background: $type-rock;
    }
    .type-ice {
        background: $type-ice;
    }
    .type-bug {
        background: $type-bug;
    }
    .type-dragon {
        background: $type-dragon;
    }
    .type-ghost {
        background: $type-ghost;
    }
    .type-dark {
        background: $type-dark;
    }
    .type-steel {
        background: $type-steel;
    }
    .type-fairy {
        background: $type-fairy;
    }
}