<!--
  Generated template for the PokemonDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name | capitalize}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="detail" padding>
  <loader *ngIf="!species"></loader>
  <section *ngIf="species">
    <div>
      <h2>#{{pokemon.id}} {{pokemon.name | capitalize}}</h2>
    </div>
    <div>
      <h2>{{species}}</h2>
    </div>
    <div>
      <img src="{{pokemon.sprites.front_default}}"/>
      <div>
        <h2 *ngIf="pokemon.types.length >= 2" class="type type-{{pokemon.types[1].type.name}}">{{pokemon.types[1].type.name | capitalize}}</h2>
        <h2 class="type type-{{pokemon.types[0].type.name}}">{{pokemon.types[0].type.name | capitalize}}</h2> 
      </div>
    </div>
    <div class="float">
      <div class="left">
        <h3>Height: {{pokemon.height}}</h3>
      </div>
      <div class="right">
        <h3>Weight: {{pokemon.weight}}</h3>
      </div>
    </div>
  </section>
</ion-content>
